*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

:root{
    --fundo: #462d2d;
    --fundo2: rgb(136, 59, 59);
    --destaque: rgb(0, 109, 233);
    --cinza: #938e99;
}

body{
    background: url(../img/background.jpg);
}

h1{font-size: 35px;}
h2{font-size: 24px;}

a{
    text-decoration: none;
    color: var(--cinza);
}
p{
    color: #FFF;
}

.topo{
    margin-top: 60px;
}

.links-mobile{
    display: none;
}

header{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 60px;
    color: var(--cinza);
    top: 0;
}

header .container{
    margin-top: 1%;
    padding: 0.75%;
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60px;
    aspect-ratio: 1/1;
    background: url(../img/k.png);
    background-size: cover;
    border-radius: 50%;
}

.empresa, .item{
    gap: 20px;
}

.centro{
    justify-content: center;
    gap: 10%;
}

.item{
    filter: drop-shadow(0 0 5px var(--cinza));
}

.item img{
    height: 45px;
}

.menu{
    background-color: var(--cinza);
    height: 100%;
    padding: 5px;
    border-radius: 100px;
    box-sizing: border-box;
    gap: 5px;
}
.menu a{
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: var(--fundo);
    height: 100%;
}
#left{border-radius: 50px 15px 15px 50px;}
#right{border-radius: 15px 50px 50px 15px;}

.bemvindo{
    width: 100%;
    text-align: center;
    padding: 10% 0;
    color: #FFF;
}

.card{
    padding: 0 0.75%;
    background-color: var(--fundo);
    border-radius: 50px;
}

section .card{
    background-color: var(--fundo2);
}

.texto p{
    padding: 2%;
}


.equipe{
    padding: 60px;
    text-align: center;
}

.equipe-circle{
    margin-top: 60px;
    display: flex;
}

.equipe-circle-single{
    width: 33.3%;
    text-align: center;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe-circle-single p{
    color: var(--cinza);
}

.avatar{
    width: 40%;
}

.avatar img{
    width: 100%; height: 100%;
    border-radius: 50%;
}

.equipe-circle-single h3{
    font-size: 26px;
    margin: 15px 0;
}


.local{
    margin-top: 60px;
    text-align: center;
}
.local .container{
    padding: 15px;
}
.conteudo-local{
    display: flex;
}
.mapa{
    width: 50%;
    margin: 30px;
}
.mapa iframe{
    border-radius: 20px;
}
.endereco{
    width: 50%;
    padding: 30px
}

footer{
    background-color: var(--fundo);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}

.logomarca{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.logomarca img{
    width: 60px;
    border-radius: 50%;
}

footer ul{
    list-style: none;
}

footer li{
    display: inline-block;
    margin: 0 15px;
}

@media screen and (max-width: 1280px) {
    header .container{
        justify-content: center;
    }
    .horizontal{
        flex-direction: column;
    }
    .empresa{
        flex-direction: row;
        gap: 5px;
    }
    .links{
        display: none;
    }
    .menu{
        display: none;
    }
    .item{
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        border: 1px solid var(--cinza);
        border-radius: 20px;
    }
    .links-mobile{
        display: block;
        width: 60px;
        height: 60px;
        background-image: url(../img/menu.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        position: fixed;
        top: 1vw;
        left: 6vw;
        padding: 0.75%;
        z-index: 2;
    }
    .lista{
        display: none;
    }
    .links-mobile:hover .menu{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        height: 50px;
    }
    .links-mobile:hover .lista{
        margin-top: 60px;
        gap: 10px;
        background-color: var(--fundo2);
        width: max-content;
        padding: 30px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0 0 20px var(--cinza);
        animation: menu 0.25s 1 ease-in-out;
    }
    @keyframes menu {
        0%{
            transform: translateY(-30px);
            opacity: 0;
        }
        100%{
            transform: translateY(0px);
            opacity: 1;
        }       
    }
    .equipe-circle{
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
    }
    .equipe-circle-single{
        width: 100%;
        max-width: 500px;
        padding: 0;
        margin: 0 auto;
    }
}